services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.backend
    container_name: waze-cdmx-backend
    ports:
      - "8000:8000"
    volumes:
      - ../data:/app/data
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ..
      dockerfile: docker/Dockerfile.frontend
    container_name: waze-cdmx-frontend
    ports:
      - "5500:80"
    depends_on:
      - backend
